<div class="container">
  <div class="row mb-3">
    <h4>部署編集</h4>
  </div>
  <%= form_with model: [:admin, @department], url: department_path(@department.id), method: :patch do |f| %>
  <div class="form-group row">
    <div class="col-3">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <%= f.submit '変更を保存', class: 'btn btn-outline-success' %>
    </div>
  </div>
  <% end %>
</div>