<div class="container">
  <div class="row">
    <h4>検索結果一覧</h4>
  </div>
  <div class="row mb-3">
    <%= render "form" %>
  </div>
  <div class="row">
    <div class="col-5">
      <table class="table table-bordered">
        <% @handovers.each do |handover| %>
          <tr>
            <td>
              <% daily_report = @daily_reports.find { |daily_report| daily_report.created_at.to_date == handover.created_at.to_date } %>
              <%= link_to daily_report_path(daily_report.id), class: 'text-dark btn-default' do %>
                <%= handover.handover.truncate(100) %>
                <%= handover.created_at.strftime('%Y/%m/%d') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>